In [6]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2023.2.0-cp39-cp39-macosx_10_9_universal2.whl (792 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 792.6/792.6 kB 1.9 MB/s eta 0:00:00a 0:00:01
Collecting cramjam>=2.3
  Downloading cramjam-2.6.2-cp39-cp39-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 2.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.20.3 in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (1.21.5)
Requirement already satisfied: packaging in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (21.3)
Collecting pandas>=1.5.0
  Downloading pandas-2.0.0-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 2.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: fsspec in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 1.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pytz>=2020.1 in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from packaging->fastparquet) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/diontajones/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: tzdata, cramjam, pandas, fastparquet
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.4
    Uninstalling pandas-1.4.4:
      Successfully uninstalled pandas-1.4.4
Successfully installed cramjam-2.6.2 fastparquet-2023.2.0 pandas-2.0.0 tzdata-2023.3

In [ ]:
%time

In [2]:
import pandas as pd
df = pd.read_csv('wta_matches_2022.csv')
df.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2022-2014,Adelaide 1,Hard,30,P,20220103,300,202458,1,NaN,...,19.0,16.0,11.0,8.0,0.0,3.0,1.0,7582.0,14.0,2855.0
1,2022-2014,Adelaide 1,Hard,30,P,20220103,299,202458,1,NaN,...,39.0,27.0,9.0,9.0,2.0,5.0,1.0,7582.0,9.0,3786.0
2,2022-2014,Adelaide 1,Hard,30,P,20220103,298,214981,7,NaN,...,45.0,29.0,12.0,10.0,7.0,11.0,14.0,2855.0,105.0,771.0
3,2022-2014,Adelaide 1,Hard,30,P,20220103,297,202458,1,NaN,...,54.0,34.0,7.0,9.0,7.0,9.0,1.0,7582.0,12.0,2971.0
4,2022-2014,Adelaide 1,Hard,30,P,20220103,296,216347,5,NaN,...,45.0,30.0,12.0,12.0,6.0,11.0,9.0,3786.0,27.0,2166.0

In [3]:
df_2 = pd.read_csv('wta_matches_2022.tsv', sep='\t')
df_2.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2022-2014,Adelaide 1,Hard,30,P,20220103,300,202458,1,NaN,...,19.0,16.0,11.0,8.0,0.0,3.0,1.0,7582.0,14.0,2855.0
1,2022-2014,Adelaide 1,Hard,30,P,20220103,299,202458,1,NaN,...,39.0,27.0,9.0,9.0,2.0,5.0,1.0,7582.0,9.0,3786.0
2,2022-2014,Adelaide 1,Hard,30,P,20220103,298,214981,7,NaN,...,45.0,29.0,12.0,10.0,7.0,11.0,14.0,2855.0,105.0,771.0
3,2022-2014,Adelaide 1,Hard,30,P,20220103,297,202458,1,NaN,...,54.0,34.0,7.0,9.0,7.0,9.0,1.0,7582.0,12.0,2971.0
4,2022-2014,Adelaide 1,Hard,30,P,20220103,296,216347,5,NaN,...,45.0,30.0,12.0,12.0,6.0,11.0,9.0,3786.0,27.0,2166.0

In [4]:
df_3 = pd.read_excel('wta_matches_2022.xlsx')
df_3.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2022-2014,Adelaide 1,Hard,30,P,20220103,300,202458,1,NaN,...,19.0,16.0,11.0,8.0,0.0,3.0,1.0,7582.0,14.0,2855.0
1,2022-2014,Adelaide 1,Hard,30,P,20220103,299,202458,1,NaN,...,39.0,27.0,9.0,9.0,2.0,5.0,1.0,7582.0,9.0,3786.0
2,2022-2014,Adelaide 1,Hard,30,P,20220103,298,214981,7,NaN,...,45.0,29.0,12.0,10.0,7.0,11.0,14.0,2855.0,105.0,771.0
3,2022-2014,Adelaide 1,Hard,30,P,20220103,297,202458,1,NaN,...,54.0,34.0,7.0,9.0,7.0,9.0,1.0,7582.0,12.0,2971.0
4,2022-2014,Adelaide 1,Hard,30,P,20220103,296,216347,5,NaN,...,45.0,30.0,12.0,12.0,6.0,11.0,9.0,3786.0,27.0,2166.0

In [7]:
df_4 = pd.read_parquet('wta_matches_2022.parquet')
description = df_4.describe()
print(description)

         draw_size  tourney_date    match_num      winner_id    winner_ht  \
count  2594.000000  2.594000e+03  2594.000000    2594.000000  2284.000000
mean     58.169622  2.022057e+07   231.574402  208749.718196   174.442207
std      40.908905  2.837332e+02    87.224054    6905.465396     5.769077
min       2.000000  2.022010e+07     1.000000  200033.000000   157.000000
25%      32.000000  2.022032e+07   199.000000  202434.000000   170.000000
50%      32.000000  2.022061e+07   275.000000  206290.500000   175.000000
75%      96.000000  2.022082e+07   288.000000  214643.000000   179.000000
max     128.000000  2.022111e+07   300.000000  260672.000000   185.000000

        winner_age       loser_id     loser_ht    loser_age  best_of  ...  \
count  2592.000000    2594.000000  2040.000000  2590.000000   2594.0  ...
mean     26.284375  209466.639938   173.944118    26.171776      3.0  ...
std       4.186044    7397.775922     6.056689     4.313521      0.0  ...
min      16.300000  200033.000000   157.000000    14.800000      3.0  ...
25%      23.500000  202468.000000   170.000000    23.200000      3.0  ...
50%      26.200000  210730.000000   175.000000    26.100000      3.0  ...
75%      29.000000  214906.000000   179.000000    29.000000      3.0  ...
max      40.900000  260672.000000   186.000000    42.100000      3.0  ...

           l_1stIn     l_1stWon     l_2ndWon      l_SvGms    l_bpSaved  \
count  2488.000000  2488.000000  2488.000000  2488.000000  2488.000000
mean     44.238746    25.772106    10.982315    10.549437     4.850884
std      15.612674    10.662264     5.572248     2.955502     3.138646
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%      33.000000    18.000000     7.000000     8.000000     3.000000
50%      42.000000    25.000000    10.000000    10.000000     4.000000
75%      53.000000    33.000000    14.000000    13.000000     7.000000
max     120.000000    71.000000    50.000000    19.000000    21.000000

         l_bpFaced  winner_rank  winner_rank_points   loser_rank  \
count  2488.000000  2585.000000         2585.000000  2560.000000
mean      9.731109    78.689362         1604.451451   117.689453
std       3.770300   116.269686         1446.661533   171.171665
min       0.000000     1.000000            4.000000     1.000000
25%       7.000000    22.000000          734.000000    36.000000
50%       9.000000    48.000000         1134.000000    73.000000
75%      12.000000    91.000000         2074.000000   123.250000
max      27.000000  1503.000000        10485.000000  1556.000000

       loser_rank_points
count        2560.000000
mean         1166.555078
std          1050.532039
min             2.000000
25%           528.000000
50%           867.500000
75%          1360.000000
max         10335.000000

[8 rows x 33 columns]

In [9]:
%time df_csv = pd.read_csv('wta_matches_2022.csv')
%time df_excel = pd.read_excel('wta_matches_2022.xlsx')
%time df_tsv = pd.read_csv('wta_matches_2022.tsv', sep='\t')
%time df_parquet = pd.read_parquet('wta_matches_2022.parquet')

CPU times: user 15.8 ms, sys: 8.86 ms, total: 24.7 ms
Wall time: 23.9 ms
CPU times: user 1.17 s, sys: 26.4 ms, total: 1.19 s
Wall time: 1.2 s
CPU times: user 9.33 ms, sys: 1.36 ms, total: 10.7 ms
Wall time: 12.4 ms
CPU times: user 7.41 ms, sys: 636 µs, total: 8.04 ms
Wall time: 8.67 ms